.aside {
  position: fixed;
  overflow-y: auto;
  background-color: #F2F1F6;
}
.aside::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}
.layout {
  background-color: #F9F9F9;
  .header {
    background: rgba(249, 249, 249, 0.90);
    backdrop-filter: blur(6px);
    --width: calc(100% - 232px);
    position: fixed;
    top: 0;
    left: 232px;
    width: var(--width);
    z-index: 100;
  }
  .content {
    margin-top: 60px;
    margin-left: 232px;
    padding-bottom: 60px;
  }
}
.footer {
  background-color: #FFFFFF;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}