.music-card-main {
  padding: 5px 20px 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  .music-card-header {
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
    .album-cover {
      .album-cover-img {
        width: 40px;
        height: 40px;
        border-radius: 8px;
      }
    }
    .music-info-panel {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 20px;
      margin-left: 10px;
      .music-name {
        font-weight: bold;
        font-size: 14px;
      }
      .music-album {
        font-size: 11px;
        font-weight: bold;
        color: #525252;
      }
    }
  }
  .music-card-middle {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    .music-artist {
      font-size: 13px;
      font-weight: bold;
    }
  }
  .music-card-tail {
    height: 50px;
    display: flex;
    justify-content: right;
    align-items: center;
    .favor-contain {
      cursor: pointer;
      margin-right: 30px;
      display: none;
      .favor-icon {
        background-color: transparent;
      }
      .t-image__wrapper {
        display: flex;
        justify-content: right;
      }
    }
    .music-dt {
      font-weight: bold;
    }
  }
}
.music-card-main:hover {
  background-color: #eaeaea;
  .favor-contain {
    display: block;
  }
}