.play-bar-main {
  height: 60px;
  width: 100%;
  user-select: none;
  .progress-bar-panel {
    position: absolute;
    width: 100%;
    cursor: pointer;
    .t-slider {
      padding: 0;
    }
    .t-slider__button {
      width: 0;
      height: 0;
      background-color: #3590F5;
    }
    .t-slider__rail {
      background-color: #DADADA;
      border-radius: 0;
    }
    .t-slider__track {
      background-color: #3590F5;
      border-radius: 0;
    }
  }
  .play-bar-contain {
    display: flex;
    .play-info {
      padding: 0;
      .album-cover {
        position: absolute;
        left: 0;
        top: 4px;
        width: 57px;
        height: 57px;
        cursor: pointer;
      }
      .album-cover-panel {
        cursor: pointer;
      }
      .album-cover-mask {
        width: 57px;
        height: 56px;
        position: fixed;
        left: 0;
        bottom: 0;
        transition: 0.15s;
        background: rgba(0, 0, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        .spread-icon {
          transition: 0.15s;
          background-color: transparent;
          opacity: 0;
          width: 25px;
          height: 25px;
        }
      }
      .album-cover-panel:hover {
        .album-cover-mask {
          background: rgba(0, 0, 0, 0.2);
          backdrop-filter: blur(3px);
          .spread-icon {
            transition: 0.15s;
            opacity: 1;
          }
        }
      }
      .album-title {
        padding-left: 70px;
        padding-top: 10px;
        font-weight: bolder;
        color: #33323A;
      }
      .album-author {
        padding-left: 70px;
        font-size: 11px;
        color: #B3B2B5;
        span {
          cursor: pointer;
        }
      }
    }
    .control-btn {
      display: flex;
      height: 57px;
      align-items: center;
      justify-content: center;
      margin-top: 3px;
      .play-icon-panel {
        cursor: pointer;
        background-color: #348EF2;
        padding: 10px;
        border-radius: 50%;
        box-sizing: content-box;
        .play-icon {
          height: 20px;
          width: 20px;
          padding-left: 1px;
          background-color: #348EF2;
        }
      }
      .pause-icon-panel {
        cursor: pointer;
        background-color: #348EF2;
        padding: 10px;
        border-radius: 50%;
        box-sizing: content-box;
        .pause-icon {
          height: 20px;
          width: 20px;
          background-color: #348EF2;
        }
      }
      .func-icon {
        width: 24px;
        cursor: pointer;
        background-color: #fff;
      }
      .other-icon {
        width: 20px;
        cursor: pointer;
        background-color: #fff;
      }
      .previous-icon-panel {
        background-color: #fff;
        padding-top: 7px;
        padding-right: 15px;
      }
      .next-icon-panel {
        padding-top: 7px;
        padding-left: 15px;
      }
      .random-icon-panel {
        padding-top: 7px;
        padding-right: 20px;
      }
      .single-icon-panel {
        padding-top: 7px;
        padding-left: 20px;
      }
    }
    .other-btn {
      display: flex;
      align-items: center;
      justify-content: right;
      height: 57px;
      margin-top: 3px;
      .like-icon-panel {
        padding-right: 15px;
        padding-top: 7px;
        .like-icon {
          width: 21px;
          cursor: pointer;
        }
      }
      .voice-icon-panel {
        padding-top: 7px;
        .voice-icon {
          width: 17px;
        }
      }
      .voice-slider {
        padding-left: 20px;
        margin-right: 30px;
        width: 130px;
        .t-slider__button {
          width: 0;
          height: 0;
        }
        .t-slider__rail {
          background-color: #DEDEDE;
        }
      }
    }
  }
}