.recommend-card {
  .recommend-image-panel {
    .recommend-image {
      border-radius: 12px;
    }
  }
  .recommend-title-panel {
    margin-top: 8px;
    font-weight: bold;
  }
}
.card-mask {
  background: rgba(0,0,0,.3);
  color: #e5e5e5;
  height: 100%;
  display: flex;
  justify-content: right;
  border-radius: 12px;
  padding: 8px;
}