.navbar-contain {
  background-color: #F2F1F6;
  padding-top: 30px;
  user-select: none;
  .navbar-logo-panel {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    .navbar-logo {
      width: 32px;
    }
    .logo-title {
      padding-left: 5px;
      font-weight: bold;
      font-size: 17px;
    }
  }
  .navbar-menu-panel {
    padding: 15px;
  }
  .navbar-playlist-panel {
    padding: 5px 15px 15px 15px;
    .navbar-playlist-title {
      font-size: 13px;
      font-weight: bold;
      color: #B0AFB3;
    }
  }
}