.home-main {
  padding: 20px 30px;
  .recommend-list-contain {
    .recommend-list-title {
      font-weight: bolder;
      font-size: 22px;
      padding: 0 0 20px 0;
    }
    .recommend-list-panel {
      display: flex;
      flex-wrap: wrap;
    }
  }
  .other-recommend-contain {
    display: flex;
    .daily-recommend-contain {
      width: 50%;
      .daily-recommend-title {
        font-weight: bolder;
        font-size: 18px;
        padding: 20px 0;
      }
    }
    .singer-list-contain {
      width: 50%;
      .singer-list-title {
        font-weight: bolder;
        font-size: 18px;
        padding: 20px 0;
      }
    }
  }
  .album-list-contain {
    .album-list-title {
      font-weight: bolder;
      font-size: 18px;
      padding: 20px 0;
    }
  }
  .charts-list-contain {
    .charts-list-title {
      font-weight: bolder;
      font-size: 18px;
      padding: 20px 0;
    }
  }
}