.home-main {
  padding: 20px 30px;
  .recommend-list-contain {
    .recommend-list-title {
      font-weight: bolder;
      font-size: 22px;
      padding: 0 0 15px 0;
    }
    .recommend-list-panel {
      display: flex;
      flex-wrap: wrap;
    }
  }
  .other-recommend-contain {
    display: flex;
    .daily-recommend-contain {
      width: 50%;
      padding-right: 30px;
      .daily-recommend-title {
        font-weight: bolder;
        font-size: 18px;
        padding: 20px 0 15px 0;
      }
      .daily-recommend-panel {
        width: 100%;
        height: 120px;
        background-color: #FFFFFF;
        border-radius: 12px;
        display: flex;
        .album-image {
          height: 120px;
          width: 120px;
          border-radius: 12px 0 0 12px;
        }
        .recommend-mask {
          background: rgba(0,0,0,.2);
          height: 100%;
          border-radius: 12px 0 0 12px;
        }
        .daily-recommend-info {
          display: flex;
          padding: 15px;
          .recommend-title {
            font-weight: bold;
          }
          .recommend-singer {
            font-size: 12px;
            color: #9f9f9f;
          }
        }
      }
    }
    .singer-list-contain {
      width: 50%;
      .singer-list-title {
        font-weight: bolder;
        font-size: 18px;
        padding: 20px 0 15px 0;
      }
      .singer-list-panel {
        display: flex;
      }
    }
  }
  .album-list-contain {
    .album-list-title {
      font-weight: bolder;
      font-size: 18px;
      padding: 20px 0 15px 0;
    }
    .album-list-panel {
      display: flex;
      flex-wrap: wrap;
    }
  }
  .charts-list-contain {
    .charts-list-title {
      font-weight: bolder;
      font-size: 18px;
      padding: 20px 0 15px 0;
    }
    .charts-list-panel {
      display: flex;
    }
  }
  .more-btn {
    float: right;
    cursor: pointer;
    font-size: 20px;
  }
}