.play-main {
  .function-panel {
    display: flex;
    justify-content: right;
    padding-top: 16px;
    padding-right: 20px;
    font-size: 25px;
    span {
      cursor: pointer;
    }
  }
  .play-contain {
    .play-cover-contain {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 100px;
      .play-cover {
        width: 360px;
        height: 360px;
        border-radius: 15px;
      }
      .play-song-name {
        width: 360px;
        margin-top: 20px;
        height: 23px;
        font-size: 23px;
        font-weight: bold;
        color: rgba(249, 249, 249, 0.75);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .play-artist-name {
        width: 360px;
        margin-top: 5px;
        height: 20px;
        font-size: 15px;
        font-weight: bold;
        color: rgba(222, 222, 222, 0.65);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .play-progress-bar {
        margin-top: 20px;
        height: 4px;
        width: 360px;
        border-radius: 2px;
        background-color: rgba(249, 249, 249, 0.75);
      }
      .play-function-panel {
        margin-top: 15px;
        width: 360px;
        display: flex;
        justify-content: center;
        align-items: center;
        .previous-panel {
          margin-right: 15px;
        }
        .next-panel {
          margin-left: 15px;
        }
        .func-icon {
          width: 25px;
          background-color: transparent;
          cursor: pointer;
        }
      }
    }
    .play-lyrics-contain {

    }
  }
}