.playlist-main {
  padding: 20px 35px;
  .playlist-header-contain {
    display: flex;
    .playlist-cover {
      .playlist-cover-img {
        width: 230px;
        height: 230px;
        border-radius: 12px;
      }
    }
    .playlist-info {
      padding: 6px 40px;
      .playlist-info-title {
        font-size: 22px;
      }
      .playlist-info-creator {
        margin-top: -5px;
        .created-by {
          color: #B0B0B2;
        }
        .songs-account {
          margin-left: 20px;
          color: #5e5e5e;
        }
      }
      .playlist-info-about-title {
        font-size: 17px;
        margin-top: 20px;
      }
      .playlist-info-about {
        margin-top: -15px;
        font-size: 13px;
        height: 63px;
        overflow: hidden;
        -webkit-line-clamp: 3;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
      }
      .playlist-tags-panel {
        margin-top: 15px;
        .t-tag:nth-child(n+2) {
          margin-left: 10px;
        }
      }
    }
  }
  .playlist-list-contain {
    margin-top: 30px;
  }
}